= mobile_tag page_options.merge(:role => 'page') do
  - if content_for?(:header)
    = mobile_tag header_options.merge(:role => 'header') do
      = yield :header
  = mobile_tag :role => 'content' do
    = yield
  - if content_for?(:footer)
    = mobile_tag footer_options.merge(:role => 'footer') do
      = yield :footer
